html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #212529;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

body div {
    gap: 20px;
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 1280px;
}

