html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    background-color: #212529;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow-y: hidden;
    height: 80vh;
    gap: 20px;
}

