section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

img {
    height: 35px;
    width: 35px;
    border-radius: 60%;
    align-items: flex-start;
}

img + h2 {
    align-items: flex-start;
    font-size: 20px;
    color: white;
    margin: 0;
}